* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:12px;
	line-height:18px;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#222;
}
a {
	color:#2e6c91;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:0;
}
input, textarea, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
textarea {
	overflow:hidden;
}
.shell {
	height:500px;
	width:974px;
	margin:0 auto;
}
.shell2 {
	height:115px;
	width:974px;
	margin:0 auto;
}
.header {
	height:70px;
	background:url(images/header.gif) repeat-x 0 0;
	padding-bottom:12px;
}
.header .shell {
	height:64px;
	background:url(images/header.gif) repeat-x 0 0;
}
h1#logo {
	padding:20px 0 0 4px;
	font-size:24px;
	text-shadow:-1px 1px 1px #000;
	float:left;
	display:inline;
}
h1#logo a {
	color:#fff;
}
h1#logo span {
	display:block;
	font-size:12px;
	font-weight:normal;
	text-shadow:0 0 0 transparent;
	text-align:right;
}
h1#logo a span {
	color:#95afc0;
}
h1#logo a:hover, h1#logo a:hover span {
	text-decoration:none;
	color:#dff3fe;
}
#navigation {
	float:right;
	width:750px;
	font-size:12px;
	font-weight:bold;
	font-family:tahoma, arial, sans-serif;
	text-shadow:-1px 1px 1px #000;
	height:40px;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	height:63px;
	float:left;
	display:inline;
	background:url(images/navigation-li.gif) no-repeat left 0;
	padding-left:1px;
}
#navigation ul li a {
	color:#fff;
	height:39px;
	float:left;
	display:inline;
	padding:24px 24px 0 24px;
}
#navigation ul li a.active, #navigation ul li a:hover {
	background:url(images/navigation-hover.gif) repeat-x 0 0;
	text-decoration:none;
}
.active .img {
	margin-top:0;
}
.head {
	height:100%;
	position:relative;
}
a.button {
	height:24px;
	float:left;
	background:url(images/button.gif) repeat-x 0 0;
	padding:7px 20px 0 15px;
	font-size:17px;
	color:#fff;
	font-weight:bold;
}
a.button:hover {
	background:url(images/button-hover.gif) repeat-x 0 0;
	text-decoration:none;
}
a.button span {
	height:6px;
	width:4px;
	background:url(images/button-span.gif) no-repeat 0 0;
	float:left;
	margin:6px 6px 0 0;
}
h1.shadowed {
	background:url(images/entry-shadow.png) no-repeat 0 bottom;
	height:44px;
	padding:14px 0 0 8px;
	font-size:20px;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:20px;
}
.Booking{
    background: url("images/back4.jpg");
     height: 750px;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
    
}
.Booking p{
    color:#000000;
    font-size: 40px;
}
.Booking Services{
    color:#000000; 
   
}
input{
    color: #000000;
}
.footer-cols {
	height:172px;
	background:url(images/footer-cols.gif) repeat-x 0 0;
	padding-top:2px;
	min-width:974px;
}
.footer-cols .shell {
	height:174px;
	background:url(images/cols-border.png) repeat-y 0 0;
	padding-left:10px;
	width:964px;
}
.footer-cols .col {
	width:260px;
	float:left;
	display:inline;
	padding:22px 38px 0 48px;
}
.footer-cols .first-col {
	padding-left:0;
}
.footer-cols .last-col {
	padding-right:0;
}
.footer-cols .col h2 {
	font-size:17px;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	padding-bottom:14px;
}
.footer {
	font-size:10px;
	border-bottom:1px solid #fff;
	padding:7px 0;
}
.footer, .footer a {
	color:#fff;
	background:#204c67;
	text-decoration:none;
}
.footer p {
	margin:0;
	padding:0 0 0px 16px;
	line-height:normal;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}